<!DOCTYPE html>
<html>
    
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
         <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/logo.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="images/logo.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/logo.png">
        <meta name="msapplication-TileColor" content="#3372DF">
        
        <title>Home page</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css" />
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        
        <!--Icon path-->
        <link rel="shortcut icon" href="images/logo.png">
        
        <!-- Custom stylesheet -->
        <link rel="stylesheet" href="stylesheets/index.css">
        
    </head>
    <body>
        
        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header shadow">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title"><a class = "mdl-navigation__link" href = "/">Home</a></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <% if( isAuthenticated ){ %>
                            <a class="mdl-navigation__link" href=<%= "/user/" + user._id.toString() %> ><%= user.username %></a>
                            <a class="mdl-navigation__link" href="/logout">Logout</a>
                        <% } else { %>
                            <a class="mdl-navigation__link" href="/auth/google">Login with Google</a>
                        <% } %>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">User-name</span>
                <nav class="mdl-navigation mdl-layout--small-screen-only">
                    <% if( isAuthenticated ){ %>
                        <a class="mdl-navigation__link" href=<%= "/user/" + user._id.toString() %> ><%= user.username %></a>
                        <a class="mdl-navigation__link" href="/logout">Logout</a>
                    <% } else { %>
                        <a class="mdl-navigation__link" href="/auth/google">Login with Google</a>
                    <% } %>
                </nav>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
            
            <main class="mdl-layout__content">