@keyframes fade-in{
	0% { opacity: 0;}
	25% { opacity: 0.25;}
	50% {opacity: 0.50;}
	75% { opacity: 0.75;}
	100% { opacity: 1;}
}

html{
	width	: 100%;
	height 	: 100%;
	animation-name: fade-in;
	animation-duration: 1s;
	margin : 0;
	padding: 0;
}

.shadow{
    box-shadow: 0px 1px 2px 0px #11121a,0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.mdl-layout__header{
    background-color:white!important;
    font-weight:bold;
}

.mdl-layout__header-row .mdl-navigation__link{
    letter-spacing : 0.5px;
    transition: all 0.1s;
}

.mdl-layout__header-row .mdl-navigation__link:hover{
    font-weight : bold;
    text-transform : uppercase;
    text-shadow: 0px 2px 4px #AAAAAA!important;
    transition: all 0.1s;
}

.mdl-layout__drawer-button:hover{
    border-radius: 50%;
    background-color:#EEEEEE;
    outline:none;
    transition: all 0.2s;
    border : #ffffff;
}

.mdl-layout__drawer-button{
    outline:none;
    border:#ffffff;
}

.container{
    padding-left: 12%;
    padding-right:10%;
    margin:0;
}

.mdl-button{
    transition: all 0.1s;
}

.mdl-button:hover{
    box-shadow: 0px 2px 4px 0px #11121a,0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.jumbotron{
    box-sizing:border-box;
    border : 1px solid #6666;
    width : 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #eeeeee,0 1px 2px 0 rgba(0,0,0,0.12) !important;
}

.main.mainone {
  width: 320px;
  height: 320px;
}

.one > .one_title {
  color: #fff;
  background:
    url('https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/01/10/104939564-Blockchain_Industry_Thumb_00000.600x337.jpg?v=1515629366');
        background-size:cover;

}

.two > .two_title {
  color: #fff;
  background:
    url('http://0ztevmk3kfy73v4y4m82-fb-production-content.s3.amazonaws.com/content/68617270657264656e6e697300/K2xoWGgwRnRtVkk9/image_1.jpg');
        background-size:cover;

}

.three > .three_title {
  color: #fff;
  background:
    url('https://cdn-images-1.medium.com/max/1200/1*A4JfpvOsHQrAu-iFWvLjiA.jpeg') ;
    background-size:cover;
}
